.editor {
    position: relative;
    background: transparent;
    z-index: 90;
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
    font-size: 1.2rem;
}

.editor_inner {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}