#title-bar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 32px;
  width: 100%;
  background: transparent;
  border-radius: 10px 10px 0 0;
  padding: 4px;
  color: #000;
  z-index: 999;
}

#drag-region:hover #window-controls {
  opacity: 1;
}

#title-bar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  display: flex;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 12px;
  overflow: hidden;
  font-size: 14px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  opacity: 0;
  margin-right: 0;
  display: flex;
  position: absolute;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-app-region: no-drag;
}

#window-controls .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22px;
  height: 22px;
  user-select: none;
  background: transparent;
  border-radius: 0;
  outline: none !important;
  border: none;
  margin: 0 0.5rem;
  cursor: pointer;
  background: var(--windows-bar-bg);
  border-radius: 50%;
}

#window-controls .button:hover {
  /* background: rgba(255,255,255,0.1); */
}

#window-controls .button:active {
  /* background: rgba(255,255,255,0.2); */
}

#restore-button {
  display: none !important;
}

/* #close-button {
  grid-column: 3;
} */

#close-button:hover {
  /* border-radius: 0 15px 0 0; */
  /* background: #E81123 !important; */
}

#close-button:active {
  background: #F1707A !important;
}

#close-button:active .icon {
  filter: invert(1);
}

.maximized #title-bar {
  width: 100%;
  padding: 0;
}

.maximized #window-title {
  margin-left: 12px;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}
